<footer id="site-footer">
  <div class="container">
    <div class="col-md-6">
      <p>{{ site.title }}</p>
      <p>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    </div>
    <div class="col-md-6 text-right">
      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif %}
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>