<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <main id="site-main">
    <header id="site-header" class="jumbotron">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <p><a rel="nofollow" class="btn btn-warning btn-lg" href="{{ site.github_url }}">Ver en GitHub</a></p>
      </div>
    </header>
    <div id="site-content" class="container">
    {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>
</html>
